*{
    margin: 0px;
    box-sizing: border-box;
}
div{
    float: left;
}

.r1{
    width: 100%;
    background-image: url("./Images/backgroundpic.webp");
    padding: 15px;
}
.pr1{
    width: 20%;
}
.pr2{
    width: 80%;
}
.logoimg{
width: 60px;
height: 60px;
float: left;
}
.logoname{
color: white;
text-align: center;
margin-top: 18px;
}
.nav1>li{
    list-style-type: none;
    display: inline;
    float: right;
    padding: 8px;
    margin: 15px;

}
li:hover{
    color: red;
    border: 1px solid red;
    transition: 1s;
    background-color: red;
    color: white;
}
.pr3{
    text-align: center;
    width: 100%;
    margin-top: 60px;
    font-size: 30px;
}
button{
    border-radius: 8px;
    margin-top: 15px;
    border: solid 2px blue;
    background:none;
    font-size: 20px;
    text-decoration: double;
}
button:hover{
    color: rgb(34, 52, 52);
    background-color: red;
}
